/*.game-window {
	vertical-align: middle;
}*/
/*.q13 {
	width: 100px;
	height: 100px;
}*/
button {
	width: 100px;
	height: 50px;
	display: inline-table;
	border-radius: 10px;
}

.img {
	opacity: 0;
}

.img:hover {
	opacity: 1;
}

#q14-1 {
	left: 10px;
	top: 30px;
	/*visibility: hidden;*/
}

#q14-2{
	left: 100px;
	top: 60px;
	/*visibility: hidden;*/
}

#q14-3{
	bottom:40px;
	right:50px;
	/*visibility: hidden;*/
}

#q14-4{
	bottom:140px;
	right:90px;
	/*visibility: hidden;*/
}

#q14-5{
	left: 200px;
	bottom:90px;
	/*visibility: hidden;*/
}

#startMaze {
	width: 50px;
	height: auto;
}

#endMaze {
	width: 50px;
	height: auto;
}
