@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: bitebullet;
    src: url(Bitebullet.ttf);
}

#header, #details {
	text-align: center;
	color: black;
	font-family: bitebullet;
}


.game-window {
	height: 50%;
	width: 700px;
	background-image: url("paper.png");
	position: fixed;
  	top: 40%;
  	left: 50%;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);

}

.startButton, .startImg {
	text-align: center;
}

/*button {
  background: url("../img/bloo.png");
}*/

#a {
  height: 150px;
  width: 150px;
  float:left;
}

#b {
  height: 150px;
  width: 150px;
  float:left;
}

#c {
  height: 150px;
  width: 150px;
  float:left;
}

#d {
	/*bottom: 0;
	float: right;*/
  background: url("../img/bloo.png");
  height: 150px;
  width: 150px;
  padding-bottom: 120px;
  float:left;
}

#mark {
  float: left;
}

#mark:hover {
  color: yellow;
}

#q_2 {
  display: inline;
  float: left;
}

#mich {
  height: 50px;
  width: 75px;
  position: relative;
}

#osu {
  height: 50px;
  width: 75px;
  position: relative;
}

#minn {
  height: 50px;
  width: 75px;
  position: relative;
}

#penn {
  height: 50px;
  width: 75px;
  position: relative;
}

#brainButton {
  height: 50px;
  width: 50px;
}

#bar {
  height: 25px;
  width: 25px;
}

#brain {
  height: 100px;
  width: 150px;
}

#widgetHome {
  height: 50px;
  width: 200px;
}

#jquery {
  height: 100px;
  width: 200px;
}

#angular {
  height: 100px;
  width: 100px;
}
