@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: chalkduster;
    src: url(BiteBullet.ttf);
}

#header, #details {
	text-align: center; 
	color: black; 
	font-family: chalkduster; 
}
.answer_button{
	height: 100px;
	width: 100px;
}

.game-window {
	height:500px;
	width: 700px;
	background-image: url("paper.png");
	position: fixed;
  	top: 40%;
  	left: 50%;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);

}
.lives{
	/*visibility: hidden;*/
	position:absolute;
	bottom: 0;
	left:0;
}

#banana{
	right: 0;
	position:absolute;
}

.startButton, .startImg {
	text-align: center;
}