#header, #details {
	text-align: center; 
	color: white; 
}

.game-window {
	height: 50%;
	width: 700px;
	background: #222;
	border-right: 3px solid #53f;
	position: fixed;
  	top: 40%;
  	left: 50%;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);

}

.startButton {
	text-align: center;
}