@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: chalkduster;
    src: url(kids.ttf);
}

.game-window {
	color: black; 
	font-family: chalkduster; 
}

.answer_button0{
	height:104px;
	width:217px;
	background:url('../img/Button-1.png');
	border:none;
	position: absolute;
	top:30%;
	left:10%;

}
.answer_button1{
	height:105px;
	width:204px;
	background:url('../img/Button-2.png');
	border:none;
	position: absolute;
	top:30%;
	left:60%;
}
.answer_button2{
	height:113px;
	width:215px;
	background:url('../img/Button-3.png');
	border:none;
	position: absolute;
	top:60%;
	left:10%;
}
.answer_button3{
	height:115px;
	width:216px;
	background:url('../img/Button-4.png');
	border:none;
	position: absolute;
	top:60%;
	left:60%;
}

.answer_button_0{
	height:104px;
	width:217px;
	background:url('../img/Button-1.png');
	border:none;
	position: absolute;
	bottom:27%;
	left:22%;
}
.answer_button_1{
	height:105px;
	width:204px;
	background:url('../img/Button-2.png');
	border:none;
	position: absolute;
	bottom:27%;
	left:55%;
}
.answer_button_2{
	height:113px;
	width:215px;
	background:url('../img/Button-3.png');
	border:none;
	position: absolute;
	bottom:3%;
	left:22%;
}
.answer_button_3{
	height:115px;
	width:216px;
	background:url('../img/Button-4.png');
	border:none;
	position: absolute;
	bottom:3%;
	left:55%;
}

.L9{
	font-size: 50px;
	font-family: chalkduster; 
}
.L10{
	font-size: 30px;
	font-family: chalkduster; 
}
#header{
	text-align: center;
	font-size: 50px;
}
#details{
	text-align: center;
	font-size: 30px;
}

.game-window {
	height:500px;
	width: 700px;
	background-image: url("paper.png");
	position: fixed;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);

}
.lives{
	/*visibility: hidden;*/
	position:absolute;
	bottom: 5%;
	left:5%;
}

#banana{
	right: 0;
	top: 0;
	position:absolute;
}

.startButton, .startImg {
	text-align: center;
}